@tailwind base;
@tailwind components;
@tailwind utilities;



.ratings .rating{
    border-radius: 52px;
    color: #0771e2;
    padding: 1px 15px;
    font-size: smaller;
    margin-left: 4px;
    border: 1px soild #333;
    border: 1px solid;
  }